/**
 * COMPONENT: MAIN NAV
 *
 */
.main-nav {
  @include transition(transform, 0.3s);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  max-width: 40rem;
  transform: translateX(-100%);
  z-index: $LAYER_NAV;
  pointer-events: none;
  background-color: $COLOR_WHITE;
  padding: 2rem;

  .nav-open & {
    transform: translateX(0);
    pointer-events: auto;
  }

  &__close {
    @include icomoon(icon-close) {
      display: block;
    };
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 2.4rem;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 2em;

    }
  }

  &__link {
    font-size: $FONTSIZE_DEFAULT;
  }
}