/**
 * COMPONENT: SLIDESHOW
 *
 */
.slideshow {
  margin-bottom: 2rem;

  @include bp($SCR_MEDIUM) {
    margin-bottom: 6rem;
  }

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__slide {
    width: 100%;
    position: relative;
    height: 0;
    padding-top: percentage(800 / 1280);

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $COLOR_BLACK;
      opacity: 0.5;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $LAYER_FLAT;
    text-align: center;
    color: $COLOR_WHITE;
    width: 100%;
    padding: 2rem;

    @include bp($SCR_LARGE) {
      padding: 4rem;
    }
  }

  &__title {
    margin-bottom: .3em;
  }

  &__subtitle {
    margin-bottom: 1em;
  }

  &__button {
    display: inline-block;
    background-color: $COLOR_BLACK;
    font-size: 1.6rem;
    font-weight: $WEIGHT_BOLD;
    padding: 0.8em 1.5em;
    border-radius: 10em;

    @include bp($SCR_MEDIUM) {
      font-size: 2rem;
    }
  }

  .flickity-page-dots {
    display: flex;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    .dot {
      width: 1.8rem;
      height: 1.8rem;
      display: none;
      background-color: $COLOR_WHITE;
      border-radius: 1em;
      cursor: pointer;
      opacity: 0.7;

      &:not(:last-of-type) {
        margin-right: 1.8rem;
      }

      &.is-selected {
        opacity: 1;
      }

      @include bp($SCR_MEDIUM) {
        display: block;
      }
    }
  }
}