* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  appearance: none;
}

// variables
$easing: .2s;

// colors
$color-black: #000000;
$color-dark: #444444;
$color-white: #FFFFFF;
$color-blue: rgb(120, 220, 255);
$color-gold: #ffcc00;
$color-success: rgb(190, 255, 190);
$color-error: rgb(255, 190, 190);

$color-positive: #43bb43;
$color-negative: #c84343;

body {
  padding: 10px;
  font-family: 'Helvetica', Arial, sans-serif;
  background-color: $color-dark;
}

.main {
  position: relative;
  overflow: hidden;
  max-width: 480px;
  margin: 0 auto;
}

button {
  padding: 2px 8px;
  cursor: pointer;
  border-radius: 0;
  background-color: #fafafa;
  text-transform: uppercase;
  font-weight: 500;
}

input {
  padding: 2px 5px;
  border: 1px solid #444;

  &[readonly] {
    background-color: darken($color-white, 5%);
  }
}

.table {
  .tr--head,
  .tr {
    display: flex;
    align-items: center;
    padding: 4px 10px;

    .th, .td {
      text-align: center;
      flex: 1 1 percentage(1/3);
    }

    .td--icon {
      flex: 0 1 40px;

      .icon {
        max-width: 24px;
        width: 100%;
        display: block;
      }
    }
  }
  
  .tr--head {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid $color-dark;
    border-top: 1px solid $color-dark;
  }

  .tr {
    .td--percentChange {
      &.positive {
        color: $color-positive;
      }

      &.negative {
        color: $color-negative;
      }
    }
  }
}

.container {
  background-color: $color-white;
  padding: 10px;
  
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.note-container {
  font-size: 12px;
  background-color: darken($color-blue, 20%);
}

.form {
  display: flex;
  
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
  
  .input {
    flex-grow: 1;
    min-width: 100px;
    margin: 0 5px;
  }

  .select {
    border: 1px solid $color-dark;
    appearance: none;
    border-radius: 0;
    padding: 0 4px;
  }
  
  .btn {
    min-width: 100px;
    background-color: darken($color-white, 15%);
    
    &[data-type=buy] {
      background-color: $color-success;
    }
    
    // &[data-type=sell] {
    //   background-color: $color-success;
    // }
  }
}

.prices-container {
  padding: 0;

  label {
    text-transform: uppercase;
    font-size: 14px;
    background: darken($color-white, 20%);
    color: $color-dark;
    padding: 6px 5px;
    display: block;
  }
  
  .coin {
    &:not(:last-of-type) {
      border-bottom: 1px solid lighten(black, 80%);
      padding-bottom: 3px;
      margin-bottom: 5px;
    }
  }
}

.prices__coins {
  max-height: 140px;
  overflow-y: auto;
}

.prices__row {
  transition: background-color $easing ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: darken($color-white, 3%);
  cursor: pointer;

  &:nth-child(2n) {
    background-color: darken($color-white, 6%);
  }

  &::after {
    transition: transform $easing ease-in-out;
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $color-gold;
    transform: translateX(100%);
  }

  &.is-active {
    background-color: rgba($color-gold, 0.15);

    &::after {
      transform: translateX(0);
    }
  }
}

.buysell-container {
  display: flex;
  padding: 10px;
  
  .buysell__item {
    flex: 1 1 auto;  
    
    .value {
      font-weight: bold;
      
      &::before {
        content: '$';
      }
      
      &[js-el=buy-value] {
        color: darken($color-success, 50%);
      }
      
      &[js-el=sell-value] {
        color: darken($color-error, 30%);
      }
    }
  }
}

.refresh-btn {
  background-color: $color-blue;
}

.refresh-icon {
  display: none;
  font-size: 14px;
  margin-left: 10px;
  
  &.is-refreshing {
    display: inline-block;
  }
}

.modal {
  transition: opacity $easing ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  transform: translateX(100%);
  opacity: 0;
  background-color: rgba($color-black, 0.5);

  &.is-active {
    transform: translateX(0);
    opacity: 1;
  }
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  text-align: center;
  box-shadow: 0 3px 5px rgba($color-black, 0.8);
}

.modal__close {
  border: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  transform: translateY(-50%);
  background-color: transparent;
}

.modal-close__inner {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background-color: $color-dark;
  border-radius: 5em;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $color-white;
    width: 10px;
    height: 1px;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.trade {

}

.trade__title {

}

.trade__inputs {
  margin-top: 20px;
}

.trade-inputs {

}

.trade-inputs__group {
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    margin-bottom: 10px;
  }
}

.trade-inputs__icon {
  margin-right: 10px;
}

.trade-inputs__input {
  flex-grow: 1;
}

.alert {
  position: absolute;
  transition: all $easing ease-in-out;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translateY(100%);
  width: 100%;
  background-color: $color-white;
  box-shadow: 0 0 1em rgba($color-black, 0.5);
  padding: 15px 50px;
  text-align: center;
  width: 100%;

  &.is-active {
    transform: translateY(0);
  }

  &.is-successful {
    background-color: $color-success;
  }

  &.is-errorneous {
    background-color: $color-error;
  }
}

.modal__close--alert {
  opacity: 0.3;
  top: 50%;
  right: 20px;
}

.alert__content {
  font-size: 14px;
}